<%- include('../include/head.ejs') %>

  <body>
    <%- include('../include/navigation.ejs') %>
      <main>
        <% if(errorMessage) { %>
          <div><%= errorMessage %></div>
        <% } %>
        <form class="m-5" method="POST" action="/signup" novalidate>
          <div class="mb-3">
            <label class="form-label">E-Mail</label>
            <input class="form-control" type="email" name="email" value="<%= oldInput.email %>">
          </div>
          <div class="mb-3">
            <label class="form-label">Password </label>
            <input class="form-control" type="password" name="password" value="<%= oldInput.password %>">
          </div>
          <div class="mb-3">
            <label class="form-label">Confirm Password </label>
            <input class="form-control" type="password" name="confirmPassword" value="<%= oldInput.confirmPassword %>">
          </div>
          <input type="hidden" value="<%= csrfToken %>" name="_csrf">
          <button class="btn btn-success" type="submit"> Sign Up </button>
        </form>
      </main>
      <%- include('../include/end.ejs') %>